
%h1 Sign Up

= simple_form_for @user, :html => { :class => 'form-horizontal' } do |f|
  %p
    = f.input :email
  %p
    = f.input :name
  %p
    = f.input :password
  %p
    = f.input :password_confirmation
    %br
  .form-actions
    = f.submit :class => 'btn btn-primary'


