%table.table.table-striped
  %tr
    %th Serial Code
    %th Status
    %th Body
    %th Department
    %th Versions
    %th Assigned Staff
    %th Client's email address
    %th
    %th

  - tickets.each do |ticket|
    %tr
      %td= link_to ticket.serial_code, ticket
      %td= ticket.status.description
      %td= ticket.body
      %td= ticket.department.name
      %td= link_to ticket.versions.length, ticket_versions_url(:id => ticket.id)
      %td
        - if ticket.user
          = ticket.user.email
        - else
          None
      %td= ticket.email
      %td= link_to 'Edit', edit_ticket_path(ticket), :class => 'btn btn-mini'
      %td= link_to 'Destroy', ticket, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-mini btn-danger'

%br