
%table.table
  %tr
    %th Changed by
    %th Event
    %th Body
    %th updated_at
    %th

    -# [1..-1] first element/version is the creation of the record and is blank.
    - @response.versions[1..-1].each do |version|
      - response = version.reify
      %tr
        %td= User.find(version.whodunnit.to_i).email
        %td= version.event
        %td= (response ? response.body : '-')
        %td= version.created_at
        %td
          = button_to 'restore', restore_response_url(:id => @response.id, :timestamp => version.created_at), :class => 'btn btn-success'

    %tr.success
      %td
      %td
      %td= @response.body
      %td
        %strong Current
      %td


